.search-bar input{
    width: 300px;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin : 1rem;
}
.user-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}