.backdrop{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;

}

.popup-body{
    margin: auto;
    background-color: rgba(127, 66, 66, 0.9);
}

.close-button{
    position: absolute;
    top: 10px;
    right: 100px;
    cursor: pointer;
}