.password-field{
    display: flex;
    border: 1px solid rgb(133, 133, 133);
    width: 100%;
    border-radius: 2px;
    background-color: rgb(59, 59, 59);
    align-items: center;
    padding-right: 4px;
}

.password-field input{
    border:none;
    outline: none;
    background-color: transparent;
}

.password-field div{
    display: flex;
    align-items: center;
}